.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: rgb(235,242,247);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: static;
    
}

.feedbackform {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex: 0.25 1; */


    width: 83%;
    height: 100vh;
    background-color: rgb(235,242,247);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
}
.sidebar__form{
    display: flex;
    flex: 0.25;
   
}