.userdata{

    margin-top: 55px;
    margin-left:65px;
    position: static;
    
    
}
.userdata__contain{
    display: flex;
    justify-content: center;
    
}

.userdata__list{
    
    color: black;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 6.5px;
    height: 12vh;
    width: 120vh;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.userdata_button{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
    height: 6vh;
    width: 6vh;
    background-color:#ffff ;
    align-items: center;
    border-radius:50% ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.userdata__contain_horizontal{
    
    display: flex;
    background: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 20px;
    font-family: arial;
}
